{% extends "base.html" %}{% load static %}{% block content %}

    <!--=========== BEGIN COURSE BANNER SECTION ================-->
    <section id="imgBanner">
      <h2>Register</h2>
    </section>
    <!--=========== END COURSE BANNER SECTION ================-->

    <!--=========== BEGIN REGISTER SECTION ================-->
    <div style="text-align: center;">
	    <img src="{% static "HKEasySchool/img/login.svg" %}" alt="img" width="100" height="100">
	  	<h1>Login</h1>
	  	<form action="/login" method="post">
	  		{% csrf_token %}
	    	<label for="username">Username:</label>
	    	<input type="text" name="username" id="username" /><br/>
	    	<label for="username">Password:</label>&nbsp;
	    	<input type="password" name="password" id="password" /><br/>
	    	<input type="hidden" id="publickey" value="{{ public_key }}" />
	    	<input type="submit" value="Login" id="login-submit" />
	    </form>

	    <p>{{ status }}</p>
	</div>
    <!--=========== END REGISTER SECTION ================-->

{% endblock %}
