{% extends "base.html" %}{% load static %}{% block content %}

    <!--=========== BEGIN COURSE BANNER SECTION ================-->
    <section id="imgBanner">
      <h2>School Ranking</h2>
    </section>
    <!--=========== END COURSE BANNER SECTION ================-->

    <!--=========== BEGIN COURSE BANNER SECTION ================-->
    <section id="courseArchive">
      <div class="container">

          <!-- start course content -->


              <!-- start blog archive  -->
              <iframe src="https://calendar.google.com/calendar/embed?src=hkeasyschool%40gmail.com&ctz=Asia%2FHong_Kong" style="border: 0" width="800" height="600" frameborder="0" scrolling="no" align="center"></iframe>

          <!-- End course content -->

          <!-- start course archive sidebar -->

          <!-- start course archive sidebar -->

      </div>
    </section>
    <!--=========== END COURSE BANNER SECTION ================-->

{% endblock %}